<h1><%= title %></h1>
<% if (news.length === 0) { %>
<p>Er is geen nieuws beschikbaar</p>
<% } else { %> 
    <% news.forEach(item => { %>
        <a href="/newsArticle/<%= item.slug %>"><%= item.title %></a>
        <br />
    <% }) %> 
    <a href="/comments">Comments </a>
    <br />
<% } %>
